# mac file
.DS_Store
._*

# FDS output files
*.sf
*.bf
*.s3d
*.q
*.sz
*.smv
*.prt5
*.end
*.iso
*.restart
*.gc
*_devc.csv
*_hrr.csv
*_mass.csv
*_mms.csv
*_git.txt
*.fed_smv
*slice.info
*svn.txt
*.bf.bnd
*.prt5.bnd
*.sf.bnd
*.binfo
*.sinfo
*.ter
*.bingeom
*.gbf
*.be.bnd
*.be
*.gcf
*.ge2
*.ge
*.gbnd
*.gsf
*.q.bnd

